# common and fallback configurations
[user]
    name = yorhodes
    email = yorkerhodesiv@gmail.com
[core]
    sshCommand = ssh -i ~/.ssh/id_rsa
    editor = code -w
[color]
    ui = auto
[init]
    defaultBranch = trunk
# conditional configurations for celo repos
[includeIf “gitdir:~/celo/”]
    email = yorhodes@cLabs.co
