# common and fallback configurations
[user]
    name = yorhodes
    email = yorkerhodesiv@gmail.com
[core]
    sshCommand = ssh -i ~/.ssh/id_ed25519
    editor = code -w
[color]
    ui = auto
[init]
    defaultBranch = trunk
# conditional configurations for celo repos
[includeIf "gitdir:~/celo/"]
    path = ~/.gitconfig.celo
[pull]
	ff = only
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
