# common and fallback configurations
[user]
    name = yorhodes
    email = yorkerhodesiv@gmail.com
    signingkey = 8C6573483BF95681
[core]
    sshCommand = ssh -i ~/.ssh/id_ed25519
    editor = code-insiders --wait
[color]
    ui = auto
[init]
    defaultBranch = main
[pull]
	ff = only
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[push]
	default = current
[commit]
    gpgsign = true
[includeIf "gitdir:~/celo/"]
    path = ~/celo/.gitconfig
[includeIf "gitdir:~/gauntlet/"]
    path = ~/gauntlet/.gitconfig
[includeIf "gitdir:~/abacus/"]
    path = ~/abacus/.gitconfig
[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
